<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="login">
<groups>
<run>
<include name="Invalidlogin"/>
<include name="Validlogin"/>
</run>
</groups>
<classes>
<class name="com.LoginValidation"/>
</classes>
</test> <!-- Test  -->
<test name="Customized">
<groups>
<run>
<include name="Customized"/>
</run>
</groups>
<classes>
<class name="com.PlaceOrderGreetingCards"/>
</classes>
</test> <!-- Test -->
<test name="NotCustomized">
<groups>
<run>
<include name="NotCustomized"/>
</run>
</groups>
<classes>
<class name="com.PlaceOrderRollSticker"/>
</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->
